.hero {
  height: calc(100vh - 10rem); /* Accomodates global margin of 10rem */
  padding-bottom: 10rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-lg);
  text-align: center;
  .badge {
    background-color: var(--accent);
    color: var(--background);
    border-radius: 24px;
    padding: 4px 16px;
  }
  .title {
    line-height: 1.2;
    --font-super: max(48px, min(5vw, 76px));
    font-size: var(--font-super);
    background: var(--foreground-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  .subtitle {
    color: var(--secondary-foreground);
    font-size: max(15px, min(2vw, 20px));
    line-height: 1.8;
  }
  .actions {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    margin: var(--space-md);
  }
}
