.section {
  // background: var(--bg-gradient);
  min-height: 804px;
  padding: 0 var(--inner-padding);
  overflow: hidden;
  .hero {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-lg);
    max-width: 60rem;
    margin: 0 auto;
    padding-top: 200px;
    text-align: center;
    .circle {
      border: 2px dashed var(--border-color);
      border-radius: 50%;
      position: absolute;
      margin: auto;
      height: 100%;
      aspect-ratio: 1;
      z-index: -1;
    }
    .badge {
      background-color: var(--accent);
      color: #ffffff;
      border-radius: 24px;
      padding: 4px 16px;
      font-size: var(--font-sm);
    }
    .title {
      line-height: 1.2;
      font-weight: 750;
      font-size: max(48px, min(5vw, 76px));
      background: var(--fg-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 100%;
      letter-spacing: -0.025em;
    }
    .subtitle {
      font-size: max(15px, min(2vw, 20px));
      line-height: 1.8;
      width: 100%;
      letter-spacing: -0.01em;
    }
    .actions {
      display: flex;
      align-items: center;
      gap: 16px;
      margin: 16px 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .section {
    .hero {
      padding-top: 100px;
    }
  }
}

/* Used to create a star border around the button */
/*
.button {
  --spark-time: 3s;
  --border-radius: 999px;

  border: none;
  height: 44px;
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  cursor: pointer;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  box-shadow: 0 100px 0 0 var(--button-primary-outline) inset;

  .spark {
    position: absolute;
    inset: 0;
    border-radius: var(--border-radius);
    rotate: 0deg;
    mask-image: linear-gradient(white, transparent 50%);
    animation: flip calc(var(--spark-time) * 2) infinite steps(2, end);
  }
  .spark::before {
    content: "";
    position: absolute;
    width: 200%;
    aspect-ratio: 1;
    inset: 0 auto auto 50%;
    z-index: -1;
    translate: -50% -15%;
    rotate: -90deg;
    opacity: 1;
    background-image: conic-gradient(
      from 0deg,
      transparent 0 340deg,
      var(--spark-color) 360deg
    );
    animation: rotate var(--spark-time) linear infinite both;
  }

  @keyframes flip {
    to {
      rotate: 360deg;
    }
  }
  @keyframes rotate {
    to {
      transform: rotate(180deg);
    }
  }

  .backdrop {
    position: absolute;
    inset: 2px;
    background-color: var(--button-primary-background);
    border-radius: var(--border-radius);
    transition: background-color var(--transition-slower);
  }
  &:hover > .backdrop {
    background-color: var(--button-primary-background-hover);
  }

  .text {
    z-index: 1;
    color: #ffffff;
  }
}
*/
