.footer {
  width: 100%;
  background-color: var(--footer-background);
  display: flex;
  flex-direction: column;
  .content {
    width: 100%;
    max-width: var(--main-content-width);
    padding: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .logo {
      flex: 1;
      margin-bottom: 20px;
    }
    .links {
      --grid-min: 18%;
      --menu-margin: clamp(10px, 4vw, 20px);
      flex: 1;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(var(--grid-min), 1fr));
      grid-gap: 24px;
      border-bottom: 1px dashed var(--border-color);
      padding-bottom: 40px;
    }
    .column {
      color: var(--fg);
      h5 {
        font-weight: 500;
        color: var(--sub-fg);
      }
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 8px 0;
      font-size: var(--font-sm);
    }
  }
  .copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--main-content-width);
    padding: 0 40px 40px 40px;
    margin: 0 auto;
  }
}
