.footer {
  width: 100%;
  background-color: var(--footer-background);
  display: flex;
  flex-direction: column;
  .content {
    width: 100%;
    max-width: var(--main-content-width);
    padding: 40px var(--inner-padding) 40px var(--inner-padding);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .logo {
      flex: 1;
      margin-bottom: 24px;
      font-weight: 600;
      font-size: var(--font-lg);
    }
    .links {
      --grid-min: 18%;
      --menu-margin: clamp(10px, 4vw, 20px);
      flex: 1;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(var(--grid-min), 1fr));
      grid-gap: clamp(10px, 4vw, 20px);
      border-bottom: 1px dashed var(--border-color);
      padding-bottom: 40px;
    }
    .column {
      color: var(--fg);
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-weight: 500;
    }
  }
  .copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--main-content-width);
    padding: 0 var(--inner-padding) 40px var(--inner-padding);
    margin: 0 auto;
  }
}

@media (max-width: 1023px) {
  .footer {
    .content {
      .links {
        --grid-min: 40%;
      }
    }
  }
}
